.attach-photo-container {
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.camera, 
.camera-error {
  height: 100%;
}

.camera {
  position: relative;
  margin-top: var(--size4);
  background-color: #000000;
}

.camera__video {
  width: 100%;
  height: 100%;
}

.camera,
.camera-preview {
  min-height: 30rem;
}

.camera-preview {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: var(--size4);
}

.camera-preview__image {
  display: flex;
  flex-direction: column;

  & > .sw-image__image {
    min-height: 25rem;
  }
}

.camera-preview__button {
  width: 100%;
  bottom: 0;
  margin-top: var(--size6);
}

.camera-preview__delete-button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: var(--size4);
  right: var(--size4);
  border-radius: 50%;
  border: 0.5px solid var(--color-token-light-border-3);
  background-color: var(--color-token-light-background-2);
}

.camera__controls {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #808080;
  cursor: pointer;
}

.camera-error {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.camera-error__message {
  text-align: center;
}

@media (min-width: 1240px) {
  .camera__video--modal,
  .camera-preview {
    min-height: auto;
  }

  .camera-preview__image {
    & > .sw-image__image {
      height: 20rem !important;
      min-height: auto;
    }
  }
}
