#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.button {
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 20px
}
